<form class="comparison">
  <fieldset>
    <legend>DPLA Website</legend>
    <div>
      <input type="checkbox" id="website-view-input" name="column" 
             value="website-view" checked="checked"
             onclick="toggle_column(this)">
      <label for="website-view-input">dp.la Item Views</label>
    </div>
    <div>
      <input type="checkbox" id="click-through-input" name="column"
             value="click-through" checked="checked"
             onclick="toggle_column(this)">
      <label for="click-through-input">dp.la Click Throughs</label>
    </div>
    <div>
      <input type="checkbox" id="website-session-input" name="column" 
             value="website-session" checked="checked"
             onclick="toggle_column(this)">
      <label for="website-session-input">dp.la Sessions</label>
    </div>
    <div>
      <input type="checkbox" id="website-user-input" name="column"
             value="website-user" checked="checked"
             onclick="toggle_column(this)">
      <label for="website-user-input">dp.la Users</label>
    </div>
  </fieldset>

  <fieldset>
    <legend>Black Women's Suffrage</legend>
    <% if bws_data_for_date_range? %>
      <div>
        <input type="checkbox" id="bws-item-count-input" name="column" 
               value="bws-item-count" checked="checked"
               onclick="toggle_column(this)">
        <label for="bws-item-count-input">BWS Item Count</label>
      </div>
      <div>
        <input type="checkbox" id="bws-view-input" name="column" 
               value="bws-view" checked="checked"
               onclick="toggle_column(this)">
        <label for="bws-view-input">BWS Item Views</label>
      </div>
      <div>
        <input type="checkbox" id="bws-click-through-input" name="column"
               value="bws-click-through" checked="checked"
               onclick="toggle_column(this)">
        <label for="bws-click-through-input">BWS Click Throughs</label>
      </div>
      <div>
        <input type="checkbox" id="bws-session-input" name="column" 
               value="bws-session" checked="checked"
               onclick="toggle_column(this)">
        <label for="bws-session-input">BWS Sessions</label>
      </div>
      <div>
        <input type="checkbox" id="bws-user-input" name="column"
               value="bws-user" checked="checked"
               onclick="toggle_column(this)">
        <label for="bws-user-input">BWS Users</label>
      </div>
    <% else %>
      <div class="no-data">Data not available for this date range.</div>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>DPLA API</legend>
    <% if api_data_for_date_range? %>
      <div>
        <input type="checkbox" id="api-view-input" name="column"
               value="api-view" checked="checked"
               onclick="toggle_column(this)">
        <label for="api-view-input">API Views</label>
      </div>
    <% else %>
      <div class="no-data">Data not available for this date range.</div>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Item count</legend>
    <div>
      <input type="checkbox" id="item-count-input" name="column"
               value="item-count" checked="checked"
               onclick="toggle_column(this)">
        <label for="item-count-input">Item count</label>
    </div>
  </fieldset>

  <fieldset>
    <legend>Wikimedia Integration</legend>
      <% WikimediaPreparationsPresenter.fields.each do |field| %>
      <div>
        <input type="checkbox" id="<%= field %>-input" name="column"
               value="<%= field %>" checked="checked"
               onclick="toggle_column(this)">
        <label for="<%= field %>-input"><%= field.titleize %></label>
      </div>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Metadata Completeness</legend>
    <% MetadataCompletenessPresenter.fields.each do |field| %>
      <% unless field == 'count' %>
        <div>
          <input type="checkbox" id="<%= field %>-input" name="column"
                 value="<%= field %>" checked="checked"
                 onclick="toggle_column(this)">
          <label for="<%= field %>-input"><%= field.titleize %></label>
        </div>
      <% end %>
    <% end %>
  </fieldset>
</form>

<div class='download'>
  <%= link_to 'Download CSV', controller: :contributors,
                              action: params[:action],
                              hub_id: params[:hub_id],
                              start_date: current_start_date,
                              end_date: current_end_date,
                              format: :csv %>
</div>

<table id='comparison'>
  <thead>
    <tr>
      <th>Contributor</th>
      <th class="website-view">dp.la Item Views</th>
      <th class="click-through">dp.la Click Throughs</th>
      <th class="website-session">dp.la Sessions</th>
      <th class="website-user">dp.la Users</th>
      <% if bws_data_for_date_range? %>
        <th class="bws-item-count">BWS Item Count</th>
        <th class="bws-view">BWS Item Views</th>
        <th class="bws-click-through">BWS Click Throughs</th>
        <th class="bws-session">BWS Sessions</th>
        <th class="bws-user">BWS Users</th>
      <% end %>
      <% if api_data_for_date_range? %>
        <th class="api-view">API Views</th>
      <% end %>
      <th class="item-count">Item Count</th>
      <% WikimediaPreparationsPresenter.fields.each do |field| %>
        <th class="<%= field %>"><%= field.titleize %></th>
      <% end %>
      <% MetadataCompletenessPresenter.fields.each do |field| %>
        <% unless field == 'count' %>
          <th class="<%= field %>"><%= field.titleize %> Completeness</th>
        <% end %>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @contributor_comparison.totals.each do |contributor, totals| %>
      <tr>
        <td>
          <%= link_to contributor, controller: :contributors, action: :show,
                                   hub_id: params[:hub_id], id: contributor,
                                   start_date: current_start_date,
                                   end_date: current_end_date %>
        </td>
        <td class="website-view">
          <%= totals["Website"]["Views"] %>
        </td>
        <td class="click-through">
          <%= totals["Website"]["Click Throughs"] %>
        </td>
        <td class="website-session">
          <%= totals["Website"]["Sessions"] %>
        </td>
        <td class="website-user">
          <%= totals["Website"]["Users"] %>
        </td>
        <% if bws_data_for_date_range? %>
          <td class="bws-item-count">
            <%= totals["BWS"]["ItemCount"] %>
          </td>
          <td class="bws-view">
            <%= totals["BWS"]["Views"] %>
          </td>
          <td class="bws-click-through">
            <%= totals["BWS"]["Click Throughs"] %>
          </td>
          <td class="bws-session">
            <%= totals["BWS"]["Sessions"] %>
          </td>
          <td class="bws-user">
            <%= totals["BWS"]["Users"] %>
          </td>
        <% end %>
        <% if api_data_for_date_range? %>
          <td class="api-view">
            <%= totals["Api"]["Views"] %>
          </td>
        <% end %>
        <td class="item-count">
          <%= totals["ItemCount"] %>
        </td>
        <% WikimediaPreparationsPresenter.fields.each do |field| %>
          <% value = totals["WikimediaIntegration"][field] %>
          <td class="<%= field %> <%= percentage_class(value) %>">
            <%= render_percentage(value) %>
          </td>
        <% end %>
        <% MetadataCompletenessPresenter.fields.each do |field| %>
          <% unless field == "count" %>
            <% value = totals["MetadataCompleteness"][field] %>
            <td class="<%= field %> <%= percentage_class(value) %>">
              <%= render_percentage(value) %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
