<div class="date-select">
  <%= form_tag(request.path, method: :get) do %>
    <%= label_tag(:start_date, 'Start:') %>
    <%= select_tag(:start_date, options_for_select(start_date_form_options, current_start_date)) %>

    <%= label_tag(:end_date, 'End:') %>
    <%= select_tag(:end_date, options_for_select(end_date_form_options, current_end_date)) %>

    <%= submit_tag 'Refresh' %>
  <% end %>
</div>
