<%# Local variables: target [Hub|Contributor] %>

<div class="data-menu">
  <ul>
    <li>
      <%= render_overview_link(target) %>
    </li>
    <li> 
      <%= render_website_timelines_link(target) %>
    </li>
    <li> 
      <%= render_api_timelines_link(target) %>
    </li>
    <li> 
      <%= render_locations_link(target) %>
    </li>
    <li>
      <%= render_view_item_link(target) %>
    </li>
    <li>
      <%= render_view_exhibit_link(target) %>
    </li>
    <li>
      <%= render_view_pss_link(target) %>
    </li>
    <li>
      <%= render_click_through_link(target) %>
    </li>
    <li>
      <%= render_view_api_link(target) %>
    </li>
    <li>
      <%= render_wikimedia_readiness_link(target) %>
    </li>
  </ul>
</div>
