<%# Local variables: overview [OverviewWebite], events [OverviewEvents] %>

<h2>Website use</h2>

<table>
  <tr>
    <td>View item</td>
    <td><%= events.view_events %></td>
  </tr>
  <tr class="subitem">
    <td>Metadata record</td>
    <td><%= events.item_events %></td>
  </tr>
  <tr class="subitem">
    <td>Exhibition</td>
    <td><%= events.exhibit_events %></td>
  </tr>
  <tr class="subitem">
    <td>Primary source set</td>
    <td><%= events.pss_events %></td>
  </tr>
  <tr>
    <td>Click throughs</td>
    <td><%= events.click_throughs %></td>
  </tr>
  <tr>
    <td>Users</td>
    <td><%= overview.users %></td>
  </tr>
  <tr>
    <td>Sessions</td>
    <td><%= overview.sessions %></td>
  </tr>
</table>
