<%# Local variables: overview [Overview] %>
<div class="metrics">

  <h2>Website use</h2>

  <table>
    <tr>
      <td>View item</td>
      <td><%= overview.total_view_events %></td>
    </tr>
    <tr class="subitem">
      <td>Metadata record</td>
      <td><%= overview.total_item_events %></td>
    </tr>
    <tr class="subitem">
      <td>Exhibition</td>
      <td><%= overview.total_exhibit_events %></td>
    </tr>
    <tr class="subitem">
      <td>Primary source set</td>
      <td><%= overview.total_pss_events %></td>
    </tr>
    <tr>
      <td>Click throughs</td>
      <td><%= overview.total_click_throughs %></td>
    </tr>
    <tr>
      <td>Users</td>
      <td><%= overview.frontend_users %></td>
    </tr>
    <tr>
      <td>Sessions</td>
      <td><%= overview.frontend_sessions %></td>
    </tr>
  </table>

</div>
