<%# Local variables: @website_overiew [OverviewWebite],
                    @website_event_totals [OverviewEvents] %>

<table>
  <tr>
    <td>
        <div class="tooltip">
          Item views
          <span class="tooltiptext"><%= view_item_tooltip %></span>
        </div>
    </td>
    <td><%= @website_event_totals.view_events %></td>
  </tr>
  <tr class="subitem">
    <td>
      <div class="tooltip">
        Digital library catalog
        <span class="tooltiptext"><%= view_metadata_record_tooltip %></span>
      </div>
    </td>
    <td><%= @website_event_totals.item_events %></td>
  </tr>
  <tr class="subitem">
    <td>
      <div class="tooltip">
        Exhibition
        <span class="tooltiptext"><%= view_exhibition_tooltip %></span>
      </div>
    </td>
    <td><%= @website_event_totals.exhibit_events %></td>
  </tr>
  <tr class="subitem">
    <td>
      <div class="tooltip">
        Primary source set
        <span class="tooltiptext"><%= view_primary_source_set_tooltip %></span>
      </div>
    </td>
    <td><%= @website_event_totals.pss_events %></td>
  </tr>
  <tr>
    <td>
      <div class="tooltip">
        Click throughs
        <span class="tooltiptext"><%= click_through_tooltip %></span>
      </div>
    </td>
    <td><%= @website_event_totals.click_throughs %></td>
  </tr>
  <tr>
    <td>
      <div class="tooltip">
        Users
        <span class="tooltiptext"><%= users_tooltip %></span>
      </div>
    </td>
    <td><%= @website_overview.users %></td>
  </tr>
  <tr>
    <td>
      <div class="tooltip">
        Sessions
        <span class="tooltiptext"><%= sessions_tooltip %></span>
      </div>
    </td>
    <td><%= @website_overview.sessions %></td>
  </tr>
</table>
