<nav>
  <ul>
    <% if current_user.hub == "All" %>
    <li><%= link_to "Hubs", hubs_path %></li>
    <% else %>
    <li><%= link_to current_user.hub, hub_path(current_user.hub) %>
    <% end %>
    <% if current_user.admin? %>
    <li><%= link_to "Manage users", admin_users_path %></li>
    <% else %>
    <li><%= link_to "Account settings", admin_user_path(current_user) %></li>
    <% end %>
    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
  </ul>
</nav>
