<nav>
  <ul>
    <% if current_user.hub == "All" %>
        <li>
          <%= link_to "Hubs", hubs_path(date_opts) %>
        </li>
    <% else %>
        <li>
          <%= link_to "Overview", hub_path(current_user.hub, date_opts) %>
        </li>
        <% @hub ||= Hub.new(current_user.hub, "", "") %>
        <% if @hub.contributors.count > 1 %>
          <li>
            <%= link_to "Contributors",
                hub_contributors_path(current_user.hub, date_opts) %>
          </li>
        <% end %>
    <% end %>
    <li>
      <%= link_to "Search Terms", search_term_path("website", date_opts) %>
    </li>
  </ul>
  <span class="divider">|</span>
  <ul>
    <% if current_user.admin? %>
        <li>
          <%= link_to "Users", admin_users_path %>
        </li>
    <% end %>
    <li>
      <%= link_to "My account", admin_user_path(current_user) %>
    </li>
    <li>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</nav>
