<%# Local variables: target [Hub|Contributor] %>

<ul>
  <li>Total events: <%= target.total_events %></li>
    <ul>
      <li>View item: <%= target.total_item_events %></li>
      <li>View exhibition item: <%= target.total_exhibit_events %></li>
      <li>View primary source: <%= target.total_pss_events %></li>
      <li>Click through: <%= target.total_click_throughs %></li>
    </ul>
  <li>Unique events: <%= target.unique_events %></li>
  <li>Sessions: <%= target.sessions %></li>
  <li>Users: <%= target.users %></li>
</ul>
