<%# Local variables: @wp_data[Hash] @target[Hub|Contributor] %>

<% if @wa_data.present? %>

  <table>
    <% WikimediaAnalyticsPresenter.fields.each do |key| %>
      <% value = @wa_data[key] %>
      <% if value.present? %>
        <tr>
          <td>
            <div class="tooltip">
              <span><%= key.titleize %></span>
              <span class="tooltiptext"><%= find_tooltip(key) %></span>
            </div>
          </td>
          <td>
            <%= number_with_delimiter(value, :delimiter => ',') %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

<% else %>
  <div class="no-data">Wikimedia upload and page view data not available</div>
<% end %>

<% key = 'wikimediaReady' %>

<% if @wp_data.present? && @wp_data.key?(key) %>
  <% value = @wp_data[key] %>

  <table>
    <% if WikimediaPreparationsPresenter.fields.include?(key) %>
      <tr>
        <td>
          <div class="tooltip">
            <span><%= key.titleize %></span>
            <span class="tooltiptext"><%= wikimedia_readiness_tooltip %></span>
          </div>
        </td>
        <td class="bar <%= percentage_class(value) %>">
          <%= render_percentage(value) %>
        </td>
      </tr>
    <% end %>
  </table>

<% else %>
  <div class="no-data">Wikimedia readiness data not available</div>
<% end %>

<% keys = WikimediaAnalyticsPresenter.fields %>

<br/>

<p>More data about <%= render_wikimedia_readiness_link(@target) %></p>

