<%= render partial: "shared/sub_navigation", locals: { hub: @hub } %>

<% content_for :head_script do %>
  <%= javascript_include_tag 'google-analytics', 
    'data-turbolinks-track': 'reload', defer: 'defer' %>
<% end %>

<div class="heading">

  <h1><%= @target.name %></h1>

  <%= render partial: "shared/date_menu" %>

</div>

<main>

  <%= render partial: "shared/data_menu", locals: { target: @target } %>

  <div class="data-content">

    <div class="data-section">

      <% if params[:id] == "view_api" %>

        <% if api_data_for_date_range? %>
          <%= render partial: 'shared/events_table' %>
        <% else %>
          Data is not available for this date range.
        <% end %>
        
      <% else %>
        <%#= render_event_data(@events) %>
        <%= render partial: 'shared/events_table' %>
      <% end %>

    </div>
  </div>
</main>
