<%= render partial: "shared/sub_navigation", locals: { hub: @hub } %>

<% content_for :head_script do %>
  <%= javascript_include_tag 'google-analytics', 
    'data-turbolinks-track': 'reload', defer: 'defer' %>
<% end %>

<div class="heading">

  <h1><%= @target.name %></h1>

  <%= render partial: "shared/date_menu" %>

</div>

<main>

  <%= render partial: "shared/data_menu", locals: { target: @target } %>

  <div class="data-content">

    <div class="data-section">

      <% if params[:id] == "view_api" %>

        <% if api_data_for_date_range? %>
          <%= render_async hub_event_api_events_path({ hub_id: params[:hub_id],
                                                       contributor_id: params[:contributor_id],
                                                       event_id: params[:id],
                                                       start_date: current_start_date,
                                                       end_date: current_end_date }),
                'data-turbolinks-track': 'reload' do %>
            <div>Loading...</div>
          <% end %>
        <% else %>
          <!-- Data is not available for this date range. -->
        <% end %>
        
      <% else %>
        <%= render partial: 'shared/events_table' %>
      <% end %>

    </div>
  </div>
</main>
