<%= render partial: "shared/sub_navigation", locals: { hub: @hub } %>

<% content_for :head_script do %>
  <%= javascript_include_tag 'google-analytics', 
    'data-turbo-track': 'reload', defer: 'defer' %>
<% end %>

  <div class="heading">

    <h1><%= @hub.name %></h1>

    <%= render partial: "shared/date_menu" %>

  </div>

  <main>

  <%= render partial: "shared/data_menu", locals: { target: @hub } %>

  <div class="data-content">

    <div class="data-section">

      <div class="metrics">

        <div class="tooltip">
          <h2>DPLA Website (dp.la)</h2>
          <span class="tooltiptext"><%= website_use_tooltip %></span>
        </div>

        <%= render_async hub_website_overview_path(@hub.name, date_opts),
              'data-turbolinks-track': 'reload' do %>
          <div>Loading...</div>
        <% end %>

        <br/>

        <div class="tooltip">
          <h2>Black Women's Suffrage</h2>
          <span class="tooltiptext"><%= bws_use_tooltip %></span>
        </div>

        <%= render_async hub_bws_overview_path(@hub.name, date_opts),
              'data-turbolinks-track': 'reload' do %>
          <div>Loading...</div>
        <% end %>

      </div>

      <div class="metrics">

        <div class="tooltip">
          <h2>DPLA API</h2>
          <span class="tooltiptext"><%= api_use_tooltip %></span>
        </div>

        <%= render_async hub_api_overview_path(@hub.name, date_opts),
              'data-turbolinks-track': 'reload' do %>
          <div>Loading...</div>
        <% end %>
        
        <br/>

        <div class="tooltip">
          <h2>Item Count</h2>
          <span class="tooltiptext"><%= item_count_tooltip %></span>
        </div>

        <%= render_async hub_item_count_path(@hub.name, date_opts),
              'data-turbolinks-track': 'reload' do %>
          <div>Loading...</div>
        <% end %>

        <br/>

        <div class="tooltip">
          <h2>Wikimedia Integration</h2>
        </div>

        <%= render_async  hub_wikimedia_overview_path(@hub.name, date_opts),
              'data-turbolinks-track': 'reload' do %>
          <div>Loading...</div>
        <% end %>

      </div>

      <div class="metrics">

        <div class="tooltip">
          <h2>Metadata Completeness</h2>
          <span class="tooltiptext"><%= metadata_completeness_tooltip %></span>
        </div>

        <%= render_async hub_metadata_completeness_path(@hub.name, date_opts),
              'data-turbolinks-track': 'reload' do %>
          <div>Loading...</div>
        <% end %>

      </div>
    </div>
  </div>
</main>
