<% content_for :head_script do %>
  <%= javascript_include_tag 'google-analytics', 'data-turbolinks-track': 'reload', defer: 'defer' %>
<% end %>

<h1><%= @hub %></h1>

<h2>Overall</h2>
<ul>
<% @ga.overall_metrics.each do |key, value| %>
  <li><%= key %> : <%= value %></li>
<% end %>
</ul>

<h2>Events</h2>
<ul>
<% @ga.event_metrics.each do |key, value| %>
  <li><%= key %> : <%= value %></li>
<% end %>
</ul> 

<!-- Data for google analytics javascript embed api -->
<div id="access-token" data-access-token="<%= @ga.token %>" />
<div id="profile-id" data-profile-id="<%= Settings.google_analytics.profile_id %>" />
<div id="hub" data-hub="<%= @hub %>" />

<h2>User locations</h2>
<section id="map">loading...</section>
