<%= render partial: "shared/sub_navigation", locals: { hub: @hub } %>

<main>
  <% content_for :head_script do %>
    <%= javascript_include_tag 'google-analytics', 
      'data-turbolinks-track': 'reload', defer: 'defer' %>
  <% end %>

  <h1><%= @hub.name %></h1>

  <%= render partial: "shared/date_menu" %>

  <div class="clear" />

  <%= render partial: "shared/frontend_use_metrics",
             locals: { target: @hub } %>

  <%= render partial: "shared/api_use_metrics",
             locals: { target: @hub } %>

  <%= render partial: "shared/map",
             locals: { ga_token: @hub.ga_token, hub: @hub.name } %>

  <div class = "clear" />

  <h2>Top 10 metadata records on website</h2>

  <table>
    <tr>
      <th>Title</th>
      <th>Contributor</th>
      <th>URL</th>
      <th>Views</th>
    </tr>
    <% @hub.item_view_events[1..10].each do |e| %>
    <tr>
      <td><%= e[:title] %></td>
      <td><%= e[:contributor] %></td>
      <td><%= e[:id] %></td>
      <td><%= e[:count] %></td>
    </tr>
    <% end %>
  </table>
</main>
