<%= render partial: "shared/sub_navigation", locals: { hub: @hub } %>

<% content_for :head_script do %>
  <%= javascript_include_tag 'google-analytics', 
    'data-turbolinks-track': 'reload', defer: 'defer' %>
<% end %>

  <div class="heading">

    <h1><%= @hub.name %></h1>

    <%= render partial: "shared/date_menu" %>

  </div>

  <main>

  <%= render partial: "shared/data_menu", locals: { target: @hub } %>

  <div class="data-content">

    <div class="data-section">

      <div class="metrics">

        <div class="tooltip">
          <h2>Website use</h2>
          <span class="tooltiptext"><%= website_use_tooltip %></span>
        </div>

        <%= render_async hub_website_overview_path(@hub.name, date_opts) do %>
          <div>Loading...</div>
        <% end %>

      </div>

      <div class="metrics">

        <div class="tooltip">
          <h2>API use</h2>
          <span class="tooltiptext"><%= api_use_tooltip %></span>
        </div>

        <%= render_async hub_api_overview_path(@hub.name, date_opts) do %>
          <div>Loading...</div>
        <% end %>

        <br/>

        <div class="tooltip">
          <h2>Item Count</h2>
          <span class="tooltiptext"><%= item_count_tooltip %></span>
        </div>

        <%= render_async hub_item_count_path(@hub.name, date_opts) do %>
          <div>Loading...</div>
        <% end %>

      </div>

      <div class="metrics">

        <%= render partial: "shared/metadata_completeness",
                   locals: { mc: @mc_presenter.hub(@hub.name) } %>

      </div>
    </div>
  </div>
</main>
