<%= render partial: "shared/sub_navigation", locals: { hub: @hub } %>

<% content_for :head_script do %>
  <%= javascript_include_tag 'google-analytics', 
    'data-turbolinks-track': 'reload', defer: 'defer' %>
<% end %>

  <div class="heading">

    <h1><%= @hub.name %></h1>

    <%= render partial: "shared/date_menu" %>

  </div>

  <main>

  <%= render partial: "shared/data_menu", locals: { target: @hub } %>

  <div class="data-content">

    <div class="data-section">

      <div class="metrics">

        <%= render partial: "shared/frontend_use_metrics",
                   locals: { overview: @hub.overview_website,
                             events: @hub.overview_events } %>

      </div>

      <div class="metrics">

        <%= render partial: "shared/api_use_metrics",
                   locals: { overview: @hub.overview_api } %>

        <br/>

        <%= render partial: "shared/item_count",
                   locals: { metadata_completeness: @hub.metadata_completeness } %>

      </div>

      <div class="metrics">

        <%= render partial: "shared/metadata_completeness",
                   locals: { metadata_completeness: @hub.metadata_completeness } %>

      </div>
    </div>
  </div>
</main>
