<%= render partial: "shared/sub_navigation", locals: { hub: @hub } %>

<main>
  <% content_for :head_script do %>
    <%= javascript_include_tag 'google-analytics', 
      'data-turbolinks-track': 'reload', defer: 'defer' %>
  <% end %>

  <h1><%= @hub.name %></h1>

  <%= render partial: "shared/use_metrics", locals: { target: @hub } %>

  <%= render partial: "shared/map", locals: { ga_token: @hub.ga_token, 
    hub: @hub.name } %>
</main>
