<% content_for :head_script do %>
  <%= javascript_include_tag 'google-analytics', 'data-turbolinks-track': 'reload', defer: 'defer' %>
<% end %>

<h1><%= @hub %></h1>

<ul>
<% @ga.event_metrics.each do |key, value| %>
  <li><%= key %> : <%= value %></li>
<% end %>

<div id="access-token" data-access-token="<%= @ga.token %>"/>
<section id="auth-button"></section>
<section id="view-selector"></section>
<section id="timeline"></section>
