<div class="heading">
  <h1>Search terms</h1>
  <%= render partial: "shared/date_menu" %>
</div>

<main>
  <div class="clear"/>

  <div class="data-menu">
    <ul>
      <li><%= render_website_terms_link %></li>
      <li><%= render_api_terms_link %></li>
    </ul>
  </div>

  <div class="data-content">
    <div class="data-section">
      <div class="item-table">

        <h2><%= scope_label %></h2>

        <div class="description-text">
          Top search terms across the DPLA <%= scope_label %> for all hubs and contributors.
        </div>

        <% if @search_terms.response.present? %>

          <div class="result-info">
            Showing <%= @search_terms.response.query.start_index %>-
            <%= end_index(@search_terms.response) %>
            of <%= @search_terms.response.total_results %> search terms.
          </div>

          <div class="download">
            <%= link_to "Download all #{@search_terms.response.total_results} terms",
                        controller: :search_terms,
                        action: :show,
                        start_date: current_start_date,
                        end_date: current_end_date,
                        format: :csv %>
          </div>

          <table>
            <tr>
              <th>Search Term</th>
              <th>Total Unique Searches</th>
            </tr>
            <% @search_terms.response.rows.each do |row| %>
              <tr>
                <td><%= row[0] %></td>
                <td><%= row[1] %></td>
              </tr>
            <% end %>
          </table>

        <% else %>
          Data not available.
        <% end %>
      </div>
    </div>
  </div>
</main>
