<div class="heading">
  <h1>Search terms</h1>
  <%= render partial: "shared/date_menu" %>
</div>

<main>
  <div class="clear"/>

  <div class="data-menu">
    <ul>
      <li><%= render_website_terms_link %></li>
      <li><%= render_api_terms_link %></li>
    </ul>
  </div>

  <div class="data-content">
    <div class="data-section">
      <div class="item-table">

        <h2><%= scope_label %></h2>

        <div class="description-text">
          Top search terms across the DPLA <%= scope_label %> for all hubs and contributors.
          Equivalent to "search terms" in Google Analytics.
        </div>

        <% if params[:id] == "website" %>

          <%= render_async website_search_terms_path({ start_date: current_start_date,
                                                       end_date: current_end_date }),
                'data-turbolinks-track': 'reload' do %>
            <div>Loading...</div>
          <% end %>

        <% elsif params[:id] == "api" %>
           <%= render_async api_search_terms_path({ start_date: current_start_date,
                                                    end_date: current_end_date }),
                'data-turbolinks-track': 'reload' do %>
            <div>Loading...</div>
          <% end %>

        <% else %>
          The ID in the URI, "<%= params[:id] %>", is not recognized.
        <% end %>
      </div>
    </div>
  </div>
</main>
