<main>
  <h1>Edit permissions for <%= @user.email %></h1>

  <%= form_for([:admin, @user]) do |f| %>
   
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div>
      <%= f.label :hub %>
      <%= f.select :hub, Hub.all.unshift("All") %>
    </div>

    <div>
      <%= f.label :admin %>
      <%= f.check_box :admin %>
    </div>

    <%= f.submit %>

  <% end %>
</main>
