<h1>Users</h1>

<p>
  <%= button_to "New user", new_admin_user_path, method: :get %>
</p>

<table>
  <tr>
    <th>Email</th>
    <th>Permissions</th>
    <th>Tasks</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= "Admin" if user.admin %></td>
    <td>
      <%= button_to "Edit", edit_admin_user_path(user), method: :get %>
      <%= button_to "Delete", admin_user_path(user), method: :delete, 
        data: { confirm: "Are you sure you want to delete #{user.email}?" } %>
    </td>
  </tr>
  <% end %>
</table>
