<main class="users">
  <h1>New user</h1>

  <div class="clear" />

  <%= form_for([:admin, @user]) do |f| %>
   
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div>
      <%= f.label :email %>
      <%= f.text_field :email, autofocus: true %>
    </div>

    <div>
      <%= f.label :hub %>
      <% if current_user.hub == "All" %>
          <%= f.select :hub, Hub.all.unshift("All") %>
      <% else %>
          <%= f.select :hub, [current_user.hub] %>
      <% end %>
    </div>

    <div>
      <%= f.label "Admin (this user can manage other users)" %>
      <%= f.check_box :admin %>
    </div>

    <div>
      <%= f.label :password %>
      <%= f.text_field :password, autocomplete: "off" %>
    </div>

    <div>
      <%= f.label :password_confirmation %>
      <%= f.text_field :password_confirmation, autocomplete: "off" %>
    </div>

    <%= f.submit %>

  <% end %>
</main>
