<% content_for :head_script do %>
  <%= javascript_include_tag 'jquery-tablesorter.js',
      'data-turbolinks-track': 'reload', defer: 'defer' %>

  <%= javascript_include_tag 'tablesort', 
      'data-turbolinks-track': 'reload', defer: 'defer' %>
<% end %>

<%= render partial: "shared/sub_navigation",
  locals: { hub: @hub } %>

<script>
  function toggle_column(element) {
    els = document.getElementsByClassName(element.value);

    if (element.checked == true) {
      Array.prototype.forEach.call(els, function(el) {
        el.style.display="table-cell";
      });
    } else {
      Array.prototype.forEach.call(els, function(el) {
        el.style.display="none";
      });
    }
  }
</script>

<div class="heading">

  <h1><%= @hub.name %></h1>

  <%= render partial: "shared/date_menu" %>

</div>

<main>

  <div class="clear"/>

  <h2>Contributors</h2>

  <form class="comparison">
    <fieldset>
      <legend>Website use</legend>
      <div>
        <input type="checkbox" id="website-view-input" name="column" 
               value="website-view" checked="checked"
               onclick="toggle_column(this)">
        <label for="website-view-input">Website Views</label>
      </div>
      <div>
        <input type="checkbox" id="click-through-input" name="column"
               value="click-through" checked="checked"
               onclick="toggle_column(this)">
        <label for="click-through-input">Website Click Throughs</label>
      </div>
      <div>
        <input type="checkbox" id="website-session-input" name="column" 
               value="website-session" checked="checked"
               onclick="toggle_column(this)">
        <label for="website-session-input">Website Sessions</label>
      </div>
      <div>
        <input type="checkbox" id="website-user-input" name="column"
               value="website-user" checked="checked"
               onclick="toggle_column(this)">
        <label for="website-user-input">Website Users</label>
      </div>
    </fieldset>
    <% if api_data_for_date_range? %>
      <fieldset>
        <legend>API use</legend>
        <div>
          <input type="checkbox" id="api-view-input" name="column"
                 value="api-view" checked="checked"
                 onclick="toggle_column(this)">
          <label for="api-view-input">API Views</label>
        </div>
        <div>
          <input type="checkbox" id="api-user-input" name="column"
                 value="api-user" checked="checked"
                 onclick="toggle_column(this)">
          <label for="api-user-input">API Users/Apps</label>
        </div>
      </fieldset>
    <% end %>
    <fieldset>
      <legend>Item count</legend>
      <div>
        <input type="checkbox" id="item-count-input" name="column"
                 value="item-count" checked="checked"
                 onclick="toggle_column(this)">
          <label for="item-count-input">Item count</label>
      </div>
    </fieldset>
    <fieldset>
      <legend>Metadata Completeness</legend>
      <% MetadataCompleteness.fields.each do |field| %>
        <div>
          <input type="checkbox" id="<%= field %>-input" name="column"
                 value="<%= field %>" checked="checked"
                 onclick="toggle_column(this)">
          <label for="<%= field %>-input"><%= field.titleize %></label>
        </div>
      <% end %>
    </fieldset>
  </form>

  <div class='download'>
    <%= link_to 'Download CSV', controller: :contributors,
                                action: :index,
                                hub_id: @hub.name,
                                start_date: current_start_date,
                                end_date: current_end_date,
                                format: :csv %>
  </div>

  <table id='comparison'>
    <thead>
      <tr>
        <th>Contributor</th>
        <th class="website-view">Website Views</th>
        <th class="click-through">Website Click Throughs</th>
        <th class="website-session">Website Sessions</th>
        <th class="website-user">Website Users</th>
        <% if api_data_for_date_range? %>
          <th class="api-view">API Views</th>
          <th class="api-user">API Users/Apps</th>
        <% end %>
        <th class="item-count">Item Count</th>
        <% MetadataCompleteness.fields.each do |field| %>
          <th class="<%= field %>"><%= field.titleize %> Completeness</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @hub.contributor_comparison.totals.each do |contributor, totals| %>
        <tr>
          <td>
            <%= link_to contributor, controller: :contributors, action: :show,
                                     hub_id: @hub.name, id: contributor,
                                     start_date: current_start_date,
                                     end_date: current_end_date %>
          </td>
          <td class="website-view">
            <%= totals["Website"]["Views"] %>
          </td>
          <td class="click-through">
            <%= totals["Website"]["Click Throughs"] %>
          </td>
          <td class="website-session">
            <%= totals["Website"]["Sessions"] %>
          </td>
          <td class="website-user">
            <%= totals["Website"]["Users"] %>
          </td>
          <% if api_data_for_date_range? %>
            <td class="api-view">
              <%= totals["Api"]["Views"] %>
            </td>
            <td class="api-user">
              <%= totals["Api"]["Users"] %>
            </td>
          <% end %>
          <td class="item-count">
            <%= totals["MetadataCompleteness"]['count'] %>
          </td>
          <% MetadataCompleteness.fields.each do |field| %>
            <% value = totals["MetadataCompleteness"][field] %>
            <td class="<%= field %> <%= percentage_class(value) %>">
              <%= render_percentage(value) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

</main>
