<%= render partial: "shared/sub_navigation",
  locals: { hub: @hub } %>

<div class="heading">

  <h1><%= @hub.name %></h1>

  <%= render partial: "shared/date_menu" %>

</div>

<main>

  <div class="clear">

    <h2>Contributors</h2>

    <table>
      <tr>
        <th>Contributor</th>
        <th>Website Views</th>
        <th>Website Click Throughs</th>
        <th>Website Sessions</th>
        <th>Website Users</th>
        <% if api_data_for_date_range? %>
        <th>API Views</th>
        <th>API Users/Apps</th>
        <% end %>
        <% @hub.contributor_totals.each do |contributor, totals| %>
        <tr>
          <td>
            <a href="/hubs/<%= @hub.name %>/contributors/<%= contributor %>">
              <%= contributor %>
            </a>
          </td>
          <td><%= totals["Website"]["Views"] %></td>
          <td><%= totals["Website"]["Click Throughs"] %></td>
          <td><%= totals["Website"]["Sessions"] %></td>
          <td><%= totals["Website"]["Users"] %></td>
          <% if api_data_for_date_range? %>
          <td><%= totals["Api"]["Views"] %></td>
          <td><%= totals["Api"]["Users"] %></td>
          <% end %>
        </tr>
        <% end %>
    </table>

  </div>
</main>
