<%= render partial: "shared/sub_navigation",
  locals: { hub: @contributor.hub } %>

<% content_for :head_script do %>
  <%= javascript_include_tag 'google-analytics', 
    'data-turbolinks-track': 'reload', defer: 'defer' %>
<% end %>

<div class="heading">

  <h1><%= @contributor.name %></h1>

  <%= render partial: "shared/date_menu" %>

</div>

<main>

  <%= render partial: "shared/data_menu", locals: { target: @contributor } %>

  <div class="data-content">

    <div class="data-section">

      <div class="metrics">

        <div class="tooltip">
          <h2>Website use</h2>
          <span class="tooltiptext"><%= website_use_tooltip %></span>
        </div>

        <%= render_async hub_contributor_contributors_website_overview_path(
              @contributor.hub.name, @contributor.name, date_opts) do %>
          <div>Loading...</div>
        <% end %>
      </div>

      <div class="metrics">

        <div class="tooltip">
          <h2>API use</h2>
          <span class="tooltiptext"><%= api_use_tooltip %></span>
        </div>

        <%= render_async hub_contributor_contributors_api_overview_path(
              @contributor.hub.name, @contributor.name, date_opts) do %>
          <div>Loading...</div>
        <% end %>

        <br/>

        <%= render partial: "shared/item_count",
                   locals: { mc: @mc_presenter.contributor(@contributor.hub.name,
                                                           @contributor.name) } %>
      </div>

      <div class="metrics">

        <%= render partial: "shared/metadata_completeness",
                   locals: { mc: @mc_presenter.contributor(@contributor.hub.name,
                                                           @contributor.name) } %>
      </div>
    </div>
  </div>
</main>
