<%= render partial: "shared/sub_navigation",
  locals: { hub: @contributor.hub } %>

<% content_for :head_script do %>
  <%= javascript_include_tag 'google-analytics', 
    'data-turbolinks-track': 'reload', defer: 'defer' %>
<% end %>

<main>

  <h1><%= @contributor.name %></h1>

  <%= render partial: "shared/date_menu" %>

  <%= render partial: "shared/data_menu", locals: { target: @contributor } %>

  <div class="data-content">

    <div class="data-section">

      <%= render partial: "shared/frontend_use_metrics",
                 locals: { target: @contributor } %>

      <%= render partial: "shared/api_use_metrics",
                 locals: { target: @contributor } %>

    </div>

    <div class="data-section">

      <%= render partial: "shared/map",
                 locals: { ga_token: @contributor.ga_token,          
                           hub: @contributor.hub.name,
                           contributor: @contributor.name } %>
    </div>
  </div>
</main>
