<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>DPLA Analytics Dashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 
      'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 
      'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag '/assets/dpla-favicon-black.png' %>

    <% if defined? Settings.google_analytics.tracking_id %>

      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Settings.google_analytics.tracking_id %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= Settings.google_analytics.tracking_id %>');

        document.addEventListener('turbolinks:load', event => {
          if (typeof gtag === 'function') {
            gtag('config', '<%= Settings.google_analytics.tracking_id %>', {
              'page_location': event.data.url
            });
          }
        });
      </script>

    <% end %>

    <%= yield :head_script %>
  </head>

  <body>
    <header>
      <%= render partial: "shared/header" %>
      <%= render partial: "shared/navigation" %>
    </header>

    <%= yield %>

    <footer>
      <%= render partial: "shared/footer" %>
    </footer>
  </body>
  <%= content_for :render_async %>
</html>
