<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>DPLA Analytics Dashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all',
      'data-turbo-track': 'reload' %>

    <%= javascript_include_tag 'application',
      'data-turbo-track': 'reload' %>

    <%= favicon_link_tag '/assets/dpla-favicon-black.png' %>

    <%= yield :head_script %>
  </head>

  <header>
    <%= render partial: "shared/header" %>
  </header>

  <body>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <%= yield %>
    </main>
  </body>
</html>
